<div ng-controller="pokemonesController">

    <h1 class=" text-warning"><i class="fas fa-gamepad"></i> Pokemon</h1>

 
    
    <div class="border p-5 mb-4 text-primary">
      <h3><i class="fas fa-filter"></i>Filtro</h3> 
      <input type="text" ng-model="busqueda.name" placeholder="Nombre Pokemon" class="form-control">
      
    </div>

    <table class="table table-dark">
        <thead>
          <tr>
           
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
          </tr>
        </thead>
      
          <tr ng-repeat="pokemon in pokemones | filter:busqueda"">
            <td scope="row"></td>
            <td>{{pokemon.name}}  <a ng-href=#!/pokemon/{{pokemon.name}}> <i class="fas fa-info-circle text-info"></i></a></li></td>
        <!--   <a ng-href="#!/detalle/3">Detalle Registro 3</a></li> --> 
          
        </tr>
       
        </tbody>
      </table>




  </div>